<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="include/header::html" ></head>
<head>
    <title>Citi Finance</title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <script src="/js/admin/admin.js" type="text/javascript"></script>
</head>
<body>

<div id="workingAreaDiv">

    <div id="selectInstrumentTypeDiv">
        <h2>Upload Instrument Price File</h2>
        <select class="form-control" v-model="uploadInstrumentType">
            <option value="Bonds">Bonds</option>
            <option value="Stocks">Stocks</option>
            <option value="Futures">Futures</option>
            <option value="ETFs">ETFs</option>
        </select>
        <input id="singleFile" style="width: 10em;" type="file" @change="getSingleFile($event)"/>
    </div>


    <h2>Instruments Information</h2>
    <table class="table ">
        <thead>
        <tr class="info">
            <th @click="sortInstrumentBy('id')">
                <a class="columnName">instrument id</a>
            </th>
            <th @click="sortInstrumentBy('symbol')">
                <a class="columnName">instrument symbol</a>
            </th>
            <th @click="sortInstrumentBy('name')">
                <a class="columnName">instrument name</a>
            </th>
            <th @click="sortInstrumentBy('price')">
                <a class="columnName">instrument price</a>
            </th>

            <th @click="sortInstrumentBy('type')">
                <a class="columnName">instrument type</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(bean,index) in instrumentBean">
            <td>{{bean.id}}</td>
            <td>{{bean.symbol}}</td>
            <td>{{bean.name}}</td>
            <td>{{bean.currentPrice[0].price}}</td>
            <td>{{bean.type}}</td>
        </tr>
        </tbody>
    </table>
    <button class="button button-primary button-glow button-tiny button-pill button-jumbo" @click="priceRise10(-10)">all
        instruments - $10
    </button>
    <button class="button button-primary button-glow button-tiny button-pill button-jumbo" @click="priceRise10(10)">all
        instruments + $10
    </button>
    <br>
    <ul class="nav nav-tabs">
        <li @click="changeInstrumentsPage('-1')"><a>prev</a></li>
        <li><a>{{instrumentStart+1}}</a></li>
        <li @click="changeInstrumentsPage('1')"><a>next</a></li>
    </ul>

    <h2>FundManagers Information</h2>

    <table class="table ">
            <thead>
            <tr class="info">
                <th @click="sortBy('id')">
                    <a class="columnName">id</a>
                </th>
                <th @click="sortBy('name')">
                    <a class="columnName">fund manager name</a>
                </th>
                <th @click="sortBy('instrumentsValue')">
                    <a class="columnName">total values of fund manager's portfolio</a>
                </th>
                <th @click="sortBy('balance')">
                    <a class="columnName">profit of portfolio</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="bean in beans">
                <td>{{bean.id}}</td>
                <td>{{bean.name}}</td>
                <td>{{bean.instrumentsValue}}</td>
                <td>{{bean.profit}}</td>
            </tr>
            </tbody>
    </table>

    <ul class="nav nav-tabs ">
        <li @click="changeFundManagersPage('-1')"><a>prev</a></li>
        <li><a>{{listFundManagerStart+1}}</a></li>
        <li @click="changeFundManagersPage('1')"><a>next</a></li>
    </ul>
</div>
</body>


</html>