<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="include/header::html" ></head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/tmall/top.css">
</head>

<nav class="top">
    <a href="#">
        <span class="glyphicon glyphicon-shopping-cart redColor">
            天猫首页
        </span>
    </a>
        <span>
            喵,欢迎来天猫
            <a href="#">请登录</a>
            <a href="#">免费注册</a>
        </span>

        <span class="float-right">
            <a href="#">我的订单</a>
            <a href="#"></a>
            <span class="glyphicon glyphicon-shoppong-cart redColor">
                购物车<strong>0</strong>件
            </span>
        </span>

</nav>
</html>