<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="include/header::html" ></head>
<head>
    <title>Citi Finance</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script src="/js/index/index.js" type="text/javascript"></script>
</head>
<body>


<div id="workingAreaDiv">

    <div id="instrumentAndChartDiv">
        <div id="instrumentsDiv">
            <ul class="nav nav-tabs ">
                <li role="presentation" :class="{'active':type=='Bonds'}" @click="changeInstrument('Bonds')">
                    <a>Bonds</a></li>
                <li role="presentation" :class="{'active':type=='Stocks'}" @click="changeInstrument('Stocks')">
                    <a>Stocks</a></li>
                <li role="presentation" :class="{'active':type=='Futures'}" @click="changeInstrument('Futures')"><a>Futures</a>
                </li>
                <li role="presentation" :class="{'active':type=='ETFs'}" @click="changeInstrument('ETFs')"><a>ETFs</a>
                </li>

                <li class="pull-right" @click="changeInstrumentsPage('1')"><a>下一页</a></li>
                <li class="pull-right"><a>{{start+1}}</a></li>
                <li class="pull-right" @click="changeInstrumentsPage('-1')"><a>上一页</a></li>
            </ul>


            <table class="table  table-condensed">
                <thead>
                <tr>
                    <th>symbol</th>
                    <th @click="sortBy('date')">
                        <a href="#" class="columnName">date
                            <span class="glyphicon glyphicon-resize-vertical"/>
                        </a>
                    </th>

                    <th @click="sortBy('price')">
                        <a href="#" class="columnName">price
                            <span class="glyphicon glyphicon-resize-vertical"/>
                        </a>
                    </th>
                    <th @click="sortBy('high')">
                        <a href="#" class="columnName">high
                            <span class="glyphicon glyphicon-resize-vertical"/>
                        </a>
                    </th>
                    <th @click="sortBy('low')">
                        <a href="#" class="columnName">low
                            <span class="glyphicon glyphicon-resize-vertical"/>
                        </a>
                    </th>
                    <th @click="sortBy('open')">
                        <a href="#" class="columnName">open
                            <span class="glyphicon glyphicon-resize-vertical"/>
                        </a>
                    </th>
                    <th @click="sortBy('close')">
                        <a href="#" class="columnName">close
                            <span class="glyphicon glyphicon-resize-vertical"/>
                        </a>
                    </th>
                    <!--<th @click="sortBy('changed')">-->
                    <!--<a href="#" class="columnName">changed-->
                    <!--<span class="glyphicon glyphicon-resize-vertical"/>-->
                    <!--</a>-->
                    <!--</th>-->
                    <!--<th>Cost</th>-->
                    <th>Add</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(bean,index) in beans" :key="bean.index">
                    <!--<td @click="changeInstrumentChart(bean.instrumentId)">{{bean.instrumentId}}</td>-->
                    <!--<td>{{bean.instrument.name}}</td>-->
                    <td @click="changeInstrumentChart(bean.id)">{{bean.symbol}}</td>
                    <td>{{bean.currentPrice[0].date}}</td>
                    <td>{{bean.currentPrice[0].price}}</td>
                    <td>{{bean.currentPrice[0].high}}</td>
                    <td>{{bean.currentPrice[0].low}}</td>
                    <td>{{bean.currentPrice[0].open}}</td>
                    <td>{{bean.currentPrice[0].close}}</td>
                    <!--<td>{{bean.changed}}</td>-->
                    <td><input @mouseover="" type="number" min="1" style="width: 50px;color: black"
                               v-model="numberOfInstrumentToBuy">
                    </td>
                    <td>
                        <button class="button  button-primary button-glow button-tiny button-pill button-jumbo"
                                :disabled="numberOfInstrumentToBuy<1"
                                @click="add2Portfolio(bean.id,bean.currentPrice[0].price)">buy
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="chartDiv">
            <div id="main">
            </div>
        </div>
    </div>

</div>
</body>

<!--for chart-->
<script src="js/echarts.min.js"></script>
</html>