<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="include/header::html"></head>
<head>
    <title>Citi Finance</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script src="/js/index/index.js" type="text/javascript"></script>
</head>
<body>


<div id="workingAreaDiv">

    <div class="instrumentAndChart">
        <!--portfolio数据-->
        <div id="HoldDiv" class="instruments">
            <span class="tableTitle">my instruments</span>
            <a>portfolio value : {{currentFundManager.instrumentsValue}}</a>
            <table class="table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>symbol</th>
                    <th>name</th>
                    <th>price</th>
                    <th>number</th>
                    <th>sell</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(bean,index) in portfolioBeans" @mouseover="changeInstrumentChart(bean.instrument.id)">
                    <td>{{bean.instrument.id}}</td>
                    <td>{{bean.instrument.symbol}}</td>
                    <td>{{bean.instrument.name}}</td>
                    <td>{{bean.currentPrice.price}}</td>
                    <td>{{bean.hold.volume}}</td>
                    <td style="color: black">
                        <!--<input min="1" type="number" style="width: 60px" v-model="numberOfInstrumentToSell">-->
                        <button class="button  button-primary button-glow button-tiny button-pill button-jumbo"
                                :disabled="numberOfInstrumentToSell<1" @click="sellPortfolio(bean.instrument.id)">sell
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <ul class="nav nav-tabs ">
                <li @click="changePortfolioPage('-1')"><a>上一页</a></li>
                <li><a>{{portfolioStart+1}}</a></li>
                <li @click="changePortfolioPage('1')"><a>下一页</a></li>
            </ul>
        </div>

        <div class="chart">
            <div id="main">
            </div>
        </div>
    </div>


</div>
</body>

<!--for chart-->
<script src="js/echarts.min.js"></script>
<script type="text/javascript" src="/js/include/chart.js"></script>

</html>