*{margin:0;padding:0;}
body {
    background: -webkit-linear-gradient(to bottom right, #00bdf2,#00b3f0 18%,#0066b3 77%,#004985);
    background: linear-gradient(to bottom right, #00bdf2,#00b3f0 18%,#0066b3 77%,#004985);
    background-size:cover;
    background-attachment: fixed;
}
#headDiv{
    height:100px;
    background: linear-gradient(180deg,#00bdf2,#00b3f0 18%,#0066b3 77%,#004985);
    padding-top: 30px;
}
a:hover{
    text-decoration: none;
}


#selectInstrumentTypeDiv {
    text-align: center;
    margin: 20px auto;
}

#selectInstrumentTypeDiv input {
    display: inline-block;
    height: 30px;
    width: 400px;

}

#selectInstrumentTypeDiv select {
    width: 10%;
    margin: 10px auto;
    display: inline-block;
}

.table {
    width: 80%;
    margin: 0px auto;
    color: #fff;
    font-size: 16px;
    background-color: #004985;
}

ul {
    display: inline-block;
}

ul > li > a {
    color: #004985;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 10px;
}

th {
    text-align: center;
}

#workingAreaDiv {
    text-align: center;
}