*{margin:0;padding:0;}
body {
    /*font-family:Verdana;*/
    /*'Text Me One', sans-serif;*/
    /*#00bdf2,#00b3f0 18%,#0066b3 77%,#004985);*/
    background: #00bdf2;
    background: -webkit-linear-gradient(to bottom right, #00bdf2,#00b3f0 18%,#0066b3 77%,#004985);
    background: linear-gradient(to bottom right, #00bdf2,#00b3f0 18%,#0066b3 77%,#004985);
    background-size:cover;
    background-attachment: fixed;
    /*text-align: center;*/
}

#workingAreaDiv {
    margin: 0 100px;
    background-color: white;
    font-size: 12px;
}
