*{margin:0;padding:0;}
body {
    background: -webkit-linear-gradient(to bottom right, #00bdf2,#00b3f0 18%,#0066b3 77%,#004985);
    background: linear-gradient(to bottom right, #00bdf2,#00b3f0 18%,#0066b3 77%,#004985);
    background-size:cover;
    background-attachment: fixed;
}

#main {
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

.instrumentAndChart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
}

.instruments {
    margin-left: 20px;
    display: inline-block;
    /*width: 40%;*/
}

.chart {
    margin-right: 10px;
    display: inline-block;
    /*width: 40%;*/
}

#instrumentsDiv table {
    height: 550px;
}

#workingAreaDiv td {
    vertical-align: middle;
}

#instrumentsDiv th {
    vertical-align: middle;
}

#workingAreaDiv thead, #workingAreaDiv thead a {
    color: yellow;
}

#HoldDiv {
    text-align: center;
    /*width: 80%;*/
    margin: 0 auto;
}

#tradingHistory {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
#instrumentsDiv > ul > li > a {
    color: #004985;
    font-size: 18px;
    font-weight: bold;
}

#HoldDiv th {
    text-align: center;
}

#HoldDiv ul {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

#HoldDiv a {
    color: #004985;
}

#tradingHistory th {
    text-align: center;
}

#tradingHistory ul {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

#tradingHistory a {
    color: #004985;
}

.tableTitle {
    font-size: 25px;
    color: #2e6da4;
    background-color: #afd9ee;
    border-radius: 3px;
}
